<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Le styles -->
    {{solid.css("bootstrap.min.css")}}
    <style>
      body {
        padding-top: 10px;
      }
    </style>
    {{solid.css("bootstrap-responsive.min.css")}}

      
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    {{ solid.js("bootstrap.min.js") }}