<!-- horizontal category menu -->
     <div class="row-fluid">
        <ul class="nav nav-tabs">
          {% for cat in category.getList() %}
            {% if cat.subcategories|length > 0 %}
          
            <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="{{ cat.url }}">{{ cat.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                 {% for subcat in cat.subcategories %}
                          {% if loop.index != 1 %}
                               <li class="divider"></li>
                          {% endif %}
                      <li><a href="{{ subcat.url }}" title="{{ subcat.name }}">{{ subcat.name }}</a></li>
                            {% for lowestcat in subcat.subcategories %}
                                     <li><a href="{{ lowestcat.url }}" title="{{ lowestcat.name }}">->{{ lowestcat.name }}</a></li>
                           {% endfor %}
                    
                 {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ cat.url }}" title="{{ cat.name }}">{{ cat.name }}</a></li>
            {% endif %}
          {% endfor %}
			<li class="pull-right">
              <form class="navbar-search" action="/search" method="post">
                <input type="text" class="search-query" placeholder="Search" name ="query" value="{{solid.getUrlSegment(2)|url_decode}}"/>
              </form>
          	</li>
        </ul> 
     </div> <!-- horizontal category menu -->