{% set cat = category.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
        <title>{{ solid.shop_name }} -> {{cat.name}}</title>
        <meta name="description" content="{{cat.name}}" />
    	<meta name="keywords" content="{{cat.name}}" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_category_horizontal") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     

     <!-- products in category -->
         {% set products = product.getList({"count": 12, "pagination":"true", "order": "id:desc", "cat": cat.nicename}) %}
     <div class="row-fluid">
           <ul class="thumbnails">
              {% for product in products %}
                <li class="span3">
                  <div class="thumbnail">
                    <a href="{{ product.url }}">
                      {% if product.thumbnail %}
                      <img  src="{{ product.images[0].full }}" alt="{{ product.name }}" />
                      {% else %}
                      <img  src="https://dummyimages.com/660x440/000000/ffffff.png&amp;text={{product.id}}" lt="{{ product.name }}" />
                      {% endif %}
                    </a>
                    <div class="caption">
                      <h5><a href="{{ product.url }}" title="{{ product.name }}">{{product.name}}</a></h5>
                      <p>{{product.price|currency("symbol")}}</p>
                      <p></p>
                    </div>
                  </div>
                </li>
                {% if loop.index is divisibleby(4) and loop.index != products|length %}
                      </ul>   
                  </div>
                  <div class="row-fluid">
                      <ul class="thumbnails">
                {% endif %} 
              {% else %}
                        No products found
              {% endfor %}
	        </ul>   
     </div><!-- end products -->
       
     <div class="row-fluid">
        {{ solid.embed("pagination") }}	
     </div>
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>