<!DOCTYPE html>
<html lang="en">
  <head>
	{{ solid.embed("meta") }}
    <title>{{ solid.shop_name }} -> Contact</title>
    <meta name="description" content="Contact us." />
    <meta name="keywords" content="contact" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_category_horizontal") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     
    <!-- contact -->
    <div class="row-fluid">
  		<form action="/sendmail" method="post"> 
          <legend>Contact us:</legend>
          
          
          {% if solid.getUrlsegment(3) == "false" %}
              <div class="alert alert-error">
                  Please complete all fields to contact us
              </div>
          {% endif %}
           
          {% if solid.getUrlsegment(3) == "true" %}
              <div class="alert alert-success">
                  Thank you! Your email has been sent.
              </div>
          {% endif %}
          
          
          <label for="email">Your email</label>
          <input type="text" id="email" name="email" />
           
          <label for="message">Message</label>
          <textarea id="message" name="message" class="span6"></textarea>
                   
          {% set captcha = solid.getCaptcha() %}
          <label for='captcha'>Enter the word below</label>
          <input type="text" name='captcha[input]' id='captcha' />
          <input name='captcha[id]' type='hidden' id='' value='{{ captcha.id }}' />
          
          <label></label>
          <img src="{{ captcha.image }}" alt="Enter this word" />  
          
          <button type="submit" class="btn">Submit</button>
        </form>
    </div><!-- end contact -->
       
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>