<!DOCTYPE html>
<html lang="en">
  <head>
	{{ solid.embed("meta") }}
    <title>{{ solid.shop_name }}</title>
    <meta name="description" content="{{ solid.shop_name }}" />
    <meta name="keywords" content="{{ solid.shop_name }}" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_category_horizontal") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     
    <!-- products -->
     {% set products = product.getList({"pagination":"true", "count":12, "order": "id:desc"}) %}
     <div class="row-fluid">
           <ul class="thumbnails">
              {% for product in products %}
                <li class="span3">
                  <div class="thumbnail">
                    <a href="{{ product.url }}">
                      {% if product.thumbnail %}
                      <img  src="{{ product.images[0].full }}" alt="{{ product.name }}" />
                      {% else %}
                      <img  src="https://dummyimages.com/660x440/000000/ffffff.png&amp;text={{product.id}}" lt="{{ product.name }}" />
                      {% endif %}
                    </a>
                    <div class="caption">
                      <h5><a href="{{ product.url }}" title="{{ product.name }}">{{product.name}}</a></h5>
                      <p>{{product.price|currency("symbol")}}</p>
                      <p></p>
                    </div>
                  </div>
                </li>
                {% if loop.index is divisibleby(4) and loop.index != products|length %}
                      </ul>   
                  </div>
                  <div class="row-fluid">
                      <ul class="thumbnails">
                {% endif %}    
              {% endfor %}
	        </ul>   
     </div><!-- end products -->
       
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>